/* .md-content__inner p:first-of-type:first-letter {
    font-size: 3.5em;
    float: left;
    line-height: 0.8;
    margin-right: 0.1em;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
} */